.form{
    font-family: 'Poppins', sans-serif;
}

.tag{
    display: inline;
    text-align: center;
    background-color: gray;
    border: 2px solid salmon;
    color: white;
    box-shadow: 0 5px 5px gray;
    border-radius: 10px;
}

h6{
    padding-top: 10px;
}

